
@theme inline {
    --z-index-1000: 1000;
    --border-width-0.25: 1px;
    --background-color-info-normal:rgba(0, 161, 224, 0.5);
    --background-color-warning-normal:rgba(255, 224, 102, 0.2);
    --background-color-warning-regular-op30:rgba(255, 224, 102, 0.3);
    --background-color-warning-omen-op30:rgba(255, 224, 102, 0.3);
    --color-core-digital-blue-100: var(--core-digital-blue-100);
    --color-core-red-100-brand: var(--core-red-100-brand);
    --color-core-neutral-30: var(--core-neutral-30);
    --color-core-neutral-05: var(--core-neutral-05);
    --color-core-neutral-10: var(--core-neutral-10);
    --color-core-neutral-15: var(--core-neutral-15);
    --color-core-neutral-100: var(--core-neutral-100);
    --color-semantic-primary-digital-blue: var(--semantic-primary-digital-blue);
    --color-core-digital-blue-80: var(--core-digital-blue-80);
    --color-core-digital-blue-60: var(--core-digital-blue-60);
    --color-core-navy-0: var(--core-navy-0);
    --color-core-navy-40: var(--core-navy-40);
    --color-core-navy-20: var(--core-navy-20);
    --color-semantic-background-primary: var(--semantic-background-primary);
    --color-core-neutral-20: var(--core-neutral-20);
    --color-core-neutral-15: var(--core-neutral-15);
    --color-core-green-mindful-green-100: var(--core-green-mindful-green-100);
    --color-core-green-mindful-green-60: var(--core-green-mindful-green-60);
    --color-core-green-mindful-green-op-30: var(--core-green-mindful-green-op-30);
    --color-semantic-primary-impact-red-100: var(--semantic-primary-impact-red-100);
    --color-core-red-60: var(--core-red-60);
    --color-core-red-op-10: var(--core-red-op-10);
    --color-core-opacity-dark-80: var(--core-opacity-dark-80);
    --color-core-opacity-dark-70: var(--core-opacity-dark-70);
    --color-core-opacity-dark-60: var(--core-opacity-dark-60);
    --color-core-opacity-dark-30: var(--core-opacity-dark-30);
    --color-core-navy-op-50: var(--core-navy-op-50);
    --color-core-opacity-inverse: var(--core-opacity-inverse);
    --color-core-digital-op-50: var(--core-digital-op-50);
    --color-core-digital-op-40: var(--core-digital-op-40);
    --color-core-digital-op-30: var(--core-digital-op-30);
    --color-core-digital-op-20: var(--core-digital-op-20);
    --color-core-digital-op-15: var(--core-digital-op-15);
    --color-core-digital-op-10: var(--core-digital-op-10);
    --color-core-digital-op-5: var(--core-digital-op-5);
    --color-core-red-op-50: var(--core-red-op-50);
    --color-core-red-op-40: var(--core-red-op-40);
    --color-core-red-op-30: var(--core-red-op-30);
    --color-core-red-op-20: var(--core-red-op-20);
    --color-core-red-op-10: var(--core-red-op-10);
    --color-core-red-op-5: var(--core-red-op-5);
    --color-core-navy-100: var(--core-navy-100);
    --color-core-navy-80: var(--core-navy-80);
    --color-core-navy-60: var(--core-navy-60);
    --color-core-navy-op-50: var(--core-navy-op-50);
    --color-core-navy-op-40: var(--core-navy-op-40);
    --color-core-navy-op-30: var(--core-navy-op-30);
    --color-core-navy-op-20: var(--core-navy-op-20);
    --color-core-navy-op-10: var(--core-navy-op-10);
    --color-core-navy-op-5: var(--core-navy-op-5);
    --color-core-purple-100: var(--core-purple-100);
    --color-core-purple-80: var(--core-purple-80);
    --color-core-purple-60: var(--core-purple-60);
    --color-core-purple-40: var(--core-purple-40);
    --color-core-purple-20: var(--core-purple-20);
    --color-core-purple-0: var(--core-purple-0);
    --color-core-purple-op-50: var(--core-purple-op-50);
    --color-core-purple-op-40: var(--core-purple-op-40);
    --color-core-purple-op-30: var(--core-purple-op-30);
    --color-core-purple-op-20: var(--core-purple-op-20);
    --color-core-purple-op-10: var(--core-purple-op-10);
    --color-core-purple-op-5: var(--core-purple-op-5);
    --color-core-marine-ori-marine-100: var(--core-marine-ori-marine-100);
    --color-core-marine-ori-marine-80: var(--core-marine-ori-marine-80);
    --color-core-marine-ori-marine-60: var(--core-marine-ori-marine-60);
    --color-core-marine-ori-marine-40: var(--core-marine-ori-marine-40);
    --color-core-marine-ori-marine-20: var(--core-marine-ori-marine-20);
    --color-core-marine-ori-marine-0: var(--core-marine-ori-marine-0);
    --color-core-marine-ori-marine-op-50: var(--core-marine-ori-marine-op-50);
    --color-core-marine-ori-marine-op-40: var(--core-marine-ori-marine-op-40);
    --color-core-marine-ori-marine-op-30: var(--core-marine-ori-marine-op-30);
    --color-core-marine-ori-marine-op-20: var(--core-marine-ori-marine-op-20);
    --color-core-marine-ori-marine-op-10: var(--core-marine-ori-marine-op-10);
    --color-core-marine-ori-marine-op-5: var(--core-marine-ori-marine-op-5);
    --color-core-teal-100: var(--core-teal-100);
    --color-core-teal-80: var(--core-teal-80);
    --color-core-teal-60: var(--core-teal-60);
    --color-core-teal-40: var(--core-teal-40);
    --color-core-teal-20: var(--core-teal-20);
    --color-core-teal-0: var(--core-teal-0);
    --color-core-teal-op-50: var(--core-teal-op-50);
    --color-core-teal-op-40: var(--core-teal-op-40);
    --color-core-teal-op-30: var(--core-teal-op-30);
    --color-core-teal-op-20: var(--core-teal-op-20);
    --color-core-teal-op-10: var(--core-teal-op-10);
    --color-core-teal-op-5: var(--core-teal-op-5);
    --color-semantic-border-purpose-warning:var(--semantic-border-purpose-warning);
    --color-core-yellow-excellence-gold-op-20:var(--core-yellow-excellence-gold-op-20);
}

@custom-variant dark (&:is(.dark *));
:root {
    --core-digital-blue-100:#1257FD;
    --core-red-100-brand:#FF2E24;
    --core-neutral-30:#808080;
    --core-neutral-20:#E4E4E4;
    --core-neutral-05:#FFFFFF;
    --core-neutral-10:#F2F2F2;
    --core-neutral-15:#E4E4E4;
    --core-neutral-100:#1A1A1A;
    --semantic-primary-digital-blue:#1257FD;
    --core-digital-blue-80:#276FFF;
    --core-digital-blue-60:#4179FF;
    --core-navy-0:#E6EDFF;
    --core-navy-40:#B7C8ED;
    --core-navy-20:#D3E0FE;
    --semantic-background-primary:#FFFFFF;
    --core-green-mindful-green-100:#73AE76;
    --core-green-mindful-green-60:#A1DAA1;
    --core-green-mindful-green-op-30:#CDF0CD;
    --semantic-primary-impact-red-100:#FF2E24;
    --core-red-60:#FF7F75;
    --core-red-op-10:#FFE5DF;
    --core-opacity-dark-80:rgba(0, 0, 0,0.8);
    --core-opacity-dark-70:rgba(0, 0, 0,0.7);
    --core-opacity-dark-60:rgba(0, 0, 0,0.6);
    --core-opacity-dark-30:rgba(0, 0, 0,0.3);
    --core-navy-op-50: rgba(0, 35, 121,0.5);
    --core-opacity-inverse: rgba(255, 255, 255,0.2);
    --core-digital-op-50:rgba(18, 104, 253,0.5);  
    --core-digital-op-40:rgba(18, 104, 253,0.4);
    --core-digital-op-30:rgba(18, 104, 253,0.3);
    --core-digital-op-20:rgba(18, 104, 253,0.2);
    --core-digital-op-15:rgba(18, 104, 253,0.15);
    --core-digital-op-10:rgba(18, 104, 253,0.1);
    --core-digital-op-5:rgba(18, 104, 253,0.05);
    --core-red-op-50:rgba(255, 46, 36,0.5);
    --core-red-op-40:rgba(255, 46, 36,0.4);
    --core-red-op-30:rgba(255, 46, 36,0.3);
    --core-red-op-20:rgba(255, 46, 36,0.2);
    --core-red-op-10:rgba(255, 46, 36,0.1);
    --core-red-op-5:rgba(255, 46, 36,0.05);
    --core-navy-100:#5370B4;
    --core-navy-80:#7E99D8;
    --core-navy-60:#9DB3E8;
    --core-navy-op-50:rgba(0, 35, 121,0.5);
    --core-navy-op-40:rgba(0, 35, 121,0.4);
    --core-navy-op-30:rgba(0, 35, 121,0.3);
    --core-navy-op-20:rgba(0, 35, 121,0.2);
    --core-navy-op-10:rgba(0, 35, 121,0.1);
    --core-navy-op-5:rgba(0, 35, 121,0.05);
    --core-purple-100:#8B3BD5;
    --core-purple-80:#9B51E0;
    --core-purple-60:#BA89EB;
    --core-purple-40:#CAA7F0;
    --core-purple-20:#DDC7F6;
    --core-purple-0:#EEE1FB;
    --core-purple-op-50:rgba(139, 44, 228,0.5);
    --core-purple-op-40:rgba(139, 44, 228,0.4);
    --core-purple-op-30:rgba(139, 44, 228,0.3);
    --core-purple-op-20:rgba(139, 44, 228,0.2);
    --core-purple-op-10:rgba(139, 44, 228,0.1);
    --core-purple-op-5:rgba(139, 44, 228,0.05);
    --core-marine-ori-marine-100:#0282A6;
    --core-marine-ori-marine-80:#1E94B3;
    --core-marine-ori-marine-60:#1E94B3;
    --core-marine-ori-marine-40:#5EBFD6;
    --core-marine-ori-marine-20:#94D3DF;
    --core-marine-ori-marine-0:#C0E8F0;
    --core-marine-ori-marine-op-50:rgba(0, 150, 192,0.5);
    --core-marine-ori-marine-op-40:rgba(0, 150, 192,0.4);
    --core-marine-ori-marine-op-30:rgba(0, 150, 192,0.3);
    --core-marine-ori-marine-op-20:rgba(0, 150, 192,0.2);
    --core-marine-ori-marine-op-10:rgba(0, 150, 192,0.1);
    --core-marine-ori-marine-op-5:rgba(0, 150, 192,0.05);
    --core-teal-100:#009F98;
    --core-teal-80:#00B5AD;
    --core-teal-60:#3ACFC8;
    --core-teal-40:#62DCD5;
    --core-teal-20:#99EAE6;
    --core-teal-0:#CCF5F3;
    --core-teal-op-50:rgba(0, 174, 157,0.5);
    --core-teal-op-40:rgba(0, 174, 157,0.4);
    --core-teal-op-30:rgba(0, 174, 157,0.3);
    --core-teal-op-20:rgba(0, 174, 157,0.2);
    --core-teal-op-10:rgba(0, 174, 157,0.1);
    --core-teal-op-5:rgba(0, 174, 157,0.05);
    --core-currant-100:#C2333A;
    --core-currant-80:#CC4A50;
    --core-currant-60:#D65F65;
    --core-currant-40:#E0787E;
    --core-currant-20:#ECA3A7;
    --core-currant-op-50:rgba(193, 37, 45,0.5);
    --core-currant-op-40:rgba(193, 37, 45,0.4);
    --core-currant-op-30:rgba(193, 37, 45,0.3);
    --core-currant-op-20:rgba(193, 37, 45,0.2);
    --core-currant-op-10:rgba(193, 37, 45,0.1);
    --core-currant-op-5:rgba(193, 37, 45,0.05);
    --semantic-border-purpose-warning:#A87900;
    --core-yellow-excellence-gold-op-20:rgba(238, 205, 32.0.2)
}




.dark {
    --core-digital-blue-100:#316EFF;
    --core-red-100-brand:#FF3026;
    --core-neutral-05:#131313;
    --core-neutral-10:#1A1A1A;
    --core-neutral-15:#262626;
    --core-neutral-20:#333333;
    --core-neutral-30:#666666;
    --core-neutral-100:#FAFAFA;
    --semantic-primary-digital-blue:#316EFF;
    --core-digital-blue-80:#2163FF;
    --core-digital-blue-60:#1257FD;
    --core-navy-0:#0E1621;
    --core-navy-40:#162336;
    --core-navy-20:#121D2B;
    --semantic-background-primary:#131313;
    --core-green-mindful-green-100:#5FB37F;
    --core-green-mindful-green-60:#4A9367;
    --core-green-mindful-green-op-30: rgba(95, 179, 127,0.3);
    --semantic-primary-impact-red-100:#FF3026;
    --core-red-60:#CC221C;
    --core-red-op-10:rgba(255, 46, 36,0.1);
    --core-opacity-dark-80:rgba(0, 0, 0,0.8);
    --core-opacity-dark-70:rgba(0, 0, 0,0.7);
    --core-opacity-dark-60:rgba(0, 0, 0,0.6);
    --core-opacity-dark-30:rgba(0, 0, 0,0.3);
    --core-navy-op-50:rgba(33, 55, 85,0.5);
    --core-opacity-inverse:rgba(0, 0, 0,0.5);
    --core-digital-op-50:rgba(18, 87, 253,0.5);
    --core-digital-op-40:rgba(18, 87, 253,0.4);
    --core-digital-op-30:rgba(18, 87, 253,0.3);
    --core-digital-op-20:rgba(18, 87, 253,0.2);
    --core-digital-op-15:rgba(18, 87, 253,0.15);
    --core-digital-op-10:rgba(18, 87, 253,0.1);
    --core-digital-op-5:rgba(18, 87, 253,0.05);
    --core-red-op-50:rgba(255, 46, 36,0.5);
    --core-red-op-40:rgba(255, 46, 36,0.4);
    --core-red-op-30:rgba(255, 46, 36,0.3);
    --core-red-op-20:rgba(255, 46, 36,0.2);
    --core-red-op-10:rgba(255, 46, 36,0.1);
    --core-red-op-5:rgba(255, 46, 36,0.05);
    --core-navy-100:#213755;
    --core-navy-80:#1D304B;
    --core-navy-60:#192A40;
    --core-navy-op-50:rgba(33, 55, 85,0.5);
    --core-navy-op-40:rgba(33, 55, 85,0.4);
    --core-navy-op-30:rgba(33, 55, 85,0.3);
    --core-navy-op-20:rgba(33, 55, 85,0.2);
    --core-navy-op-10:rgba(33, 55, 85,0.1);
    --core-navy-op-5:rgba(33, 55, 85,0.05);
    --core-purple-100:#C06BEA;
    --core-purple-80:#AB5FD1;
    --core-purple-60:#9654B8;
    --core-purple-40:#81499F;
    --core-purple-20:#6D3D86;
    --core-purple-0:#58326D;
    --core-purple-op-50:rgba(202, 98, 253,0.5);
    --core-purple-op-40:rgba(202, 98, 253,0.4);
    --core-purple-op-30:rgba(202, 98, 253,0.3);
    --core-purple-op-20:rgba(202, 98, 253,0.2);
    --core-purple-op-10:rgba(202, 98, 253,0.1);
    --core-purple-op-5:rgba(202, 98, 253,0.05);
    --core-marine-ori-marine-100:#128DBC;
    --core-marine-ori-marine-80:#15779B;
    --core-marine-ori-marine-60:#15779B;
    --core-marine-ori-marine-40:#125C72;
    --core-marine-ori-marine-20:#104B5B;
    --core-marine-ori-marine-0:#0A3F49;
    --core-marine-ori-marine-op-50:rgba(0, 162, 224,0.5);
    --core-marine-ori-marine-op-40:rgba(0, 162, 224,0.4);
    --core-marine-ori-marine-op-30:rgba(0, 162, 224,0.3);
    --core-marine-ori-marine-op-20:rgba(0, 162, 224,0.2);
    --core-marine-ori-marine-op-10:rgba(0, 162, 224,0.1);
    --core-marine-ori-marine-op-5:rgba(0, 162, 224,0.05);
    --core-teal-100:#00AE9D;
    --core-teal-80:#009684;
    --core-teal-60:#008371;
    --core-teal-40:#00705E;
    --core-teal-20:#005C4B;
    --core-teal-0:#004938;
    --core-teal-op-50:rgba(1, 224, 202,0.5);
    --core-teal-op-40:rgba(1, 224, 202,0.4);
    --core-teal-op-30:rgba(1, 224, 202,0.3);
    --core-teal-op-20:rgba(1, 224, 202,0.2);
    --core-teal-op-10:rgba(1, 224, 202,0.1);
    --core-teal-op-5:rgba(1, 224, 202,0.05);
    --core-currant-100:#C2333A;
    --core-currant-80:#AB2D34;
    --core-currant-60:#95282E;
    --core-currant-40:#7F2228;
    --core-currant-20:#691C22;
    --core-currant-op-50:rgba(193, 37, 45,0.5);
    --core-currant-op-40:rgba(193, 37, 45,0.4);
    --core-currant-op-30:rgba(193, 37, 45,0.3);
    --core-currant-op-20:rgba(193, 37, 45,0.2);
    --core-currant-op-10:rgba(193, 37, 45,0.1);
    --core-currant-op-5:rgba(193, 37, 45,0.05);
    --semantic-border-purpose-warning:#FFD54F;
    --core-yellow-excellence-gold-op-20:rgba(255, 224, 102,0.2)
}
